<div class="flex flex-row">
    <div class="basis-4/5">
        <div  class="container h-dvh flex flex-row items-center justify-center p-10">
            
            <!-- <div id="image_generation" class="h-4/5 w-4/5 container bg-amber-500">
                <div cdkDrag class="absolute hover:cursor-move hover:border hover:border-blue-500" [style.color]="font_color" [style.font-size.px]="font_size">{{ name }}</div>
                <img class="hover:border hover:border-blue-500" src="\assets\pic_ver.jpg">
            </div>  -->

            
                
            <canvas #some_canvas>

            </canvas>
            
                
            
                
            
                
            
                    
                
                    
                
                
            
        </div>
    </div>
    <div class="basis-1/5 z-50">
        <div class="container flex flex-row items-center justify-center h-dvh bg-blue-200">
            <div class="cols cols-1">
                <input type="text" [(ngModel)]="name">
                <input type="color" [(ngModel)]="font_color"/>
                <input id="id-font-size" type="number" class="border" (keyup.enter)="changeFontSize()" />
                <input type="file" #fileInput (change)="handleImage($event)">
                <button (click)="uploadImage()">Try!</button>
            </div>
        </div>
    </div>
</div>

